@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.svg#lifehackmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/Gagalin/gagalin-regular-webfont.woff") format("woff"), url("../fonts/Gagalin/gagalin-regular-webfont.svg#gagalinregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-b-webfont.svg#ubuntubold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-light-webfont.svg#ubuntulight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-medium-webfont.svg#ubuntumedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-regular-webfont.svg#ubunturegular") format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: #2f3234;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscle;
  position: relative;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.maincontent {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 16px;
  }
}

.section {
  width: 100%;
  height: 100%;
  background-color: rgba 0, 0, 0, 31;
}

.order-link {
  min-width: rem 98px;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

.order-link:hover {
  background-color: #cb411b;
}

.hero {
  background-image: url(../img/bg/fpbg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  margin: 0 20px 0 0;
  padding: 0;
}

@media screen and (max-width: 770px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.nav__item:after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  margin: 0 12px;
}

.nav__item:last-child:after {
  display: none;
}

.nav__link {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link:hover {
  text-decoration: underline;
}

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

@media screen and (max-width: 1050px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__img, .hero__description {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1050px) {
  .hero_img {
    width: 300px;
  }
}

@media screen and (max-width: 770px) {
  .hero_img {
    width: 250px;
  }
}

.hero_img img {
  display: block;
  width: 100%;
  height: 100%;
}

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1050px) {
  .hero__description {
    margin-top: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    line-height: 1;
  }
}

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px;
}

@media screen and (max-width: 1050px) {
  .section__title {
    padding-top: 0;
    font-size: 3.25rem !important;
  }
}

@media screen and (max-width: 770px) {
  .section__title {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 480px) {
  .section__title {
    font-size: 1.875rem !important;
  }
}

.hero__description-text {
  color: #fff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1;
}

@media screen and (max-width: 1050px) {
  .hero__description-text {
    font-size: 2.8125rem;
  }
}

@media screen and (max-width: 770px) {
  .hero__description-text {
    font-size: 1.875rem !important;
  }
}

@media screen and (max-width: 480px) {
  .hero__description-text {
    font-size: 1.25rem !important;
  }
}

.hero__arrow {
  margin-bottom: 5%;
}

.header__mobile-menu {
  width: 30px;
  margin-left: 20px;
  display: none;
}

@media screen and (max-width: 770px) {
  .header__mobile-menu {
    display: block;
  }
}

.header__mobile-menu-item {
  width: 100%;
  height: 5px;
  background-color: white;
  margin-top: 5px;
  border-radius: 4px;
}

.header__mobile-menu-item:first-child {
  margin-top: 0;
}

.best {
  background-image: url(../img/bg/bestbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 770px) {
  .best {
    background-image: url(../img/bg/bestmobilebg.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.4375rem;
  margin-top: 0;
  line-height: 0.75;
}

@media screen and (max-width: 770px) {
  .section__title--best {
    font-size: 3.125rem;
  }
}

@media screen and (max-width: 480px) {
  .section__title--best {
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
  }
}

.best__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .best__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .best__item-wraptxt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.best__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1.25rem;
  width: 32%;
  margin-bottom: 1.25rem;
}

.best__list-item:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 480px) {
  .best__list-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 300px;
  }
}

.best__item-logo {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .best__item-logo {
    width: 60%;
  }
}

.best__item-title {
  font-family: 'Lifehack';
  font-size: 1.5rem;
  text-align: center;
  margin: 2.5rem 0 0 0;
}

@media screen and (max-width: 770px) {
  .best__item-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .best__item-title {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.best__item-description {
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  text-align: center;
  margin: 1.25rem 0 0 0;
}

@media screen and (max-width: 770px) {
  .best__item-description {
    font-size: 0.625rem;
  }
}

@media screen and (max-width: 480px) {
  .best__item-description {
    margin-top: 10px;
  }
}

.crew {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/crewbg.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.crew__accordeon {
  width: 540px;
  height: 100%;
  margin-left: auto;
  background-color: rgba(47, 50, 51, 0.93);
  color: white;
  padding: 100px 20px 0 50px;
}

@media screen and (max-width: 770px) {
  .crew__accordeon {
    width: 100%;
    padding: 0;
    margin-left: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.crew__accordeon-title {
  margin-bottom: 30px;
  font-size: 72px;
  color: #f8b43a;
  font-family: 'Gagalin';
  line-height: 1.42;
}

@media screen and (max-width: 770px) {
  .crew__accordeon-title {
    font-size: 50px;
  }
}

.crew__accordeon-hidden {
  margin-top: 10px;
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 770px) {
  .crew__accordeon-hidden {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.crew__accordeon-itemname {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  .crew__accordeon-itemname {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.crew__accordeon-item {
  margin-bottom: 35px;
  cursor: pointer;
}

.crew__accordeon-item:active .crew__accordeon-hidden {
  overflow: visible;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.crew__accordeon-item:active .crew__accordeon-name {
  color: #f8b43a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.crew__accordeon-item:active .crew__accordeon-svg {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 770px) {
  .crew__accordeon-item {
    margin-bottom: 20px;
  }
}

.crew__accordeon-wrimg {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

@media screen and (max-width: 770px) {
  .crew__accordeon-wrimg {
    margin: 0;
  }
}

.crew__accordeon-hidden-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.crew__accordeon-svg {
  fill: #f9b43b;
  margin-right: 8px;
}

.crew__accordeon-name {
  font-family: 'Gagalin';
  font-size: 14px;
}

@media screen and (max-width: 770px) {
  .crew__accordeon-name {
    font-size: 24px;
  }
}

.crew__accordeon-hidden-txtblock {
  width: calc(100% - 95px);
  line-height: 1.42;
  font-family: 'Ubuntu';
}

@media screen and (max-width: 770px) {
  .crew__accordeon-hidden-txtblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.crew__accordeon-hidden-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.crew__accordeon-hidden-description {
  font-weight: 300;
}

@media screen and (max-width: 770px) {
  .crew__accordeon-hidden-description {
    text-align: center;
  }
}

.menu {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/menubg.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__menu-title {
  color: white;
  margin: 90px 0 0 90px;
  padding: 0;
}

@media screen and (max-width: 770px) {
  .section__menu-title {
    margin: 90px 0 0 20px;
  }
}

.menu__accordeon {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.menu__accordeon-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.menu__accordeon-list:active .menu__accordeon-hidden {
  overflow: visible;
  height: 100%;
  width: 540px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__accordeon-list:active .section__menu-accordeontitle {
  color: #f8b43a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__accordeon-hidden {
  width: 0;
  overflow: hidden;
  background-color: rgba(46, 49, 51, 0.9);
}

.menu__accordeon-hiddentxt {
  color: white;
  font-size: 14px;
  font-family: 'Ubuntu';
  padding: 40px 40px 0 40px;
  font-weight: 300;
  line-height: 2;
}

.menu__accordeon-item {
  width: 80px;
  height: 100%;
}

.menu__accordeon-bgone {
  background-image: url(../img/content/menumyaso.png);
  background-repeat: no-repeat;
}

.menu__accordeon-bgtwo {
  background-image: url(../img/content/menuvegan.png);
  background-repeat: no-repeat;
}

.menu__accordeon-bgthree {
  background-image: url(../img/content/menudiet.png);
  background-repeat: no-repeat;
}

.section__menu-accordeontitle {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 20px;
  margin: 0;
  line-height: 1;
  font-size: 40px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: center;
  color: white;
  background-color: rgba(20, 20, 20, 0.7);
}

.contacts {
  background-image: url(../img/bg/mapbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer {
  position: absolute;
  width: 100%;
  height: 60px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 70px 0 70px;
  bottom: 0;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  font-family: 'Ubuntu';
  font-size: 14px;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__socials {
  width: 22px;
  height: 22px;
  margin-left: 15px;
}

.footer__svg {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  cursor: pointer;
}

.footer__svg:hover {
  opacity: 1;
}

.footer__adress {
  color: white;
  font-weight: 300;
  margin-bottom: 5px;
}

.footer__phone-number {
  color: #e45028;
  font-weight: 700;
  margin-left: 5px;
}

.review__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.review__item {
  width: 25%;
  height: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.review__item:hover {
  opacity: 1;
}

@media screen and (max-width: 770px) {
  .review__item {
    width: 50%;
    background-position: top;
  }
}

.review__title {
  color: white;
}

.reviews__popup {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 0.875rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  line-height: 1.8;
  padding: 40px 20px;
  opacity: 0;
}

.reviews__popup:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(69, 69, 69, 0.5);
}

@media screen and (max-width: 770px) {
  .reviews__popup {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__popup__h2_title {
  font-size: 0.875rem;
  font-family: "Gagalin";
  margin: 0 0 10px 0;
  font-weight: 400;
}

@media screen and (max-width: 770px) {
  .reviews__popup__h2_title {
    line-height: 0;
  }
}

@media screen and (max-width: 480px) {
  .reviews__popup__h2_title {
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
  }
}

.reviews__popup__descr {
  font-family: "Ubuntu";
  font-size: 0.875rem;
  margin: 0 0 24px 0;
  font-weight: 300;
}

@media screen and (max-width: 770px) {
  .reviews__popup__descr {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .reviews__popup__descr {
    display: none;
  }
}

.reviews__popup__link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #2f3234;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

.reviews__popup__link:hover {
  background-color: #474c4f;
}

.order {
  background: url("../img/bg/orderbg.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
}

.order__title {
  margin: 50px 0 20px 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: 300;
}

.form__row {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}

.form__block {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}

.form__block:last-child {
  margin-right: 0;
}

.form__input-com {
  resize: none;
}

.form__input {
  padding: 10px;
  background: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

.form__right-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.form__right-row:last-child {
  margin-bottom: 0;
}

.form__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
}

.form__title {
  white-space: nowrap;
  margin-bottom: 10px;
}

.form__input-radio {
  color: red;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.form__title-radio {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.form__right-rowbtn {
  margin-top: 10px;
}

.form__btn-emty {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.fixed-menu {
  position: fixed;
  top: 180px;
  right: 45px;
}

@media screen and (max-width: 770px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 2px;
}

.fixed-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
}

.fixed-menu__link:before {
  content: "";
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
  background: #fff;
}

.fixed-menu__link:hover {
  border-color: #fff;
}
/*# sourceMappingURL=main.css.map */