.menu {
    width: 100%;
    height: 100%;
    background-image: url(../img/bg/menubg.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: flex;
  }

  .section__menu-title {
    color:white;
    margin:90px 0 0 90px;
    padding: 0;
  }

  .menu__accordeon {
    width: auto;
    height: 100%;
    display: flex;
    // justify-content: center;
    margin-left: auto;
  }

  .menu__accordeon-list {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: auto;
    cursor: pointer;
    &:active .menu__accordeon-hidden {
        overflow: visible;
        height: 100%;
        width: 540px;
    }
    &:active .section__menu-accordeontitle {
        color: $yellow;
    }
  }

  .menu__accordeon-hidden {
    width: 0;
    overflow: hidden;
    background-color: rgba(#2e3133, 0.9);
 
  }
  .menu__accordeon-hiddentxt {
    color:white;
    font-size: 14px;
    font-family: 'Ubuntu';
    padding: 40px 40px 0 40px;
    font-weight: 300;
    line-height: 2;
  }

  .menu__accordeon-item {
    width: 80px;
    height: 100%;

 }

  .menu__accordeon-bgone {
    background-image: url(../img/content/menumyaso.png);
    background-repeat: no-repeat;
  }
  .menu__accordeon-bgtwo {
    background-image: url(../img/content/menuvegan.png);
    background-repeat: no-repeat;
  }
  .menu__accordeon-bgthree {
    background-image: url(../img/content/menudiet.png);
    background-repeat: no-repeat;
  }


  .section__menu-accordeontitle {
    width: 100%;
    height: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    line-height: 1;
    font-size: 40px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    color: white;
    background-color: rgba(#141414, 0.7);
  }