@media (max-width: 1200px) {//desktop
    .container {
       width: 970px;
    }
}

@media (max-width: 992px) {//laptop
    .container {
        width: 750px;
     }
}

@media (max-width: 768px) {//tablets
    .container {
        width: 480px;
     }
}

@media (max-width: 480px) {//phones
    .container {
        width: 95%;
     }
}